<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no"/>
    <title>Nodes</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/glyphicons.css"/>
    <link rel="stylesheet" href="../css/tether.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/toastr.min.css"/>
    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue/vue.js"></script>
    <script src="../js/vue/vue-resource-1.3.4.js"></script>
    <script src="../js/toastr.min.js"></script>
    <script src="../js/bootbox.min.js"></script>

    <style>
        html {
            font-size: 13px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: nav"></div>

<div class="container" id="docker-moon-nodes">

    <!-- container actions -->
    <div class="row" style="padding-top: 10px;">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input value="text" class="form-control" placeholder="Search Nodes" v-model="search"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                    <table class="table table-hover table-striped table-bordered table-responsive table-sm">
                    <thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="container form-check-input" type="checkbox" v-model="isSelectedAllNodes"/>
                                    </label>
                                </div>
                            </td>
                            <td>Id</td>
                            <td>Created At</td>
                            <td>Updated At</td>
                            <td>Role</td>
                            <td>Availability</td>
                            <td>Manager Status</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="node in filteredNodes">
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="container form-check-input" type="checkbox" v-bind:value="node.ID" v-model="selectedNodes"/>
                                    </label>
                                </div>
                            </td>
                            <td>{{ node.ID }}</td>
                            <td>{{ new Date(node.CreatedAt).toLocaleString() }}</td>
                            <td>{{ new Date(node.UpdatedAt).toLocaleString() }}</td>
                            <td><span class="badge badge-success">{{ node.Spec.Role }}</span></td>
                            <td><span class="badge" v-bind:class="node.Spec.Availability == 'active' ? 'badge-success' : 'badge-warning' ">{{ node.Spec.Availability }}</span></td>
                            <td>
                                <ul class="text-left">
                                    <li><b>Addr :</b> {{ node.ManagerStatus.Addr }}</li>
                                    <li><b>Leader :</b> {{ node.ManagerStatus.Leader }}</li>
                                    <li><b>Reachability :</b> {{ node.ManagerStatus.Reachability }}</li>
                                </ul>
                            </td>
                            <td>
                                <button v-if="node.Spec.Role != 'manager'" class="btn btn-danger btn-sm" v-on:click="deleteNode(node)">
                                    <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i> Remove
                                </button>
                                <button v-if="node.Spec.Role == 'manager'" class="btn btn-danger btn-sm"
                                        v-on:click="deleteNode(node)" th:disabled="disabled"
                                        data-toggle="tooltip" data-placement="top" title="Cannot Remove Manager Node">
                                    <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="../js/app/node.js"></script>
</body>
</html>